body {
    background-image: url('../../images/neighborhood-1.png');
	background-size: cover;
	background-position: center;
	font-family: lato;
    color: #ffef13;
}



html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 12%;
	text-shadow: 0px 6px 4px rgba(0,0,0,0.4),
				 0px 10px 14px rgba(0,0,0,0.1),
				 0px 22px 26px rgba(0,0,0,0.1);
}

h1 {
	padding: 10px;
	color: #2e2e2e;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font-weight: 700;
	font-size: 5.2em;
}

h4 {
	color: #ffef13;
	font-size: 2em;
}

hr {
	width: 400px;
    margin: 0 auto 10px;
}

.btn {
	background: #539aebd5;
	color: black;
    margin: 0 10px;
}